{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false, // Set to true if you have a babel config file
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },

  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },

  "extends": ["react-app", "airbnb/base", "plugin:react/recommended"],

  "env": {
    "browser": true
  },

  "rules": {
    "no-console": ["off"],
    "class-methods-use-this": "off",
    "arrow-parents": ["off", { "requireForBlockBody": true }],
    "import/prefer-default-export": "off",
    "react/prop-types": "off"
  }
}
