.slick-slider,
.slick-initialized {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(223, 223, 223, .19);

  .slick-list {
    padding: 0px 50px 20px;
    .slick-track {
      width: 45%;
      display: flex;
    }
  }
}
