* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../../assets/images/bg-homePage_dark.webp);
  background-size: cover;
  background-attachment: fixed;
  color: #fff
}
.container {
  min-height: 100vh;
}
.page-wrapper {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}
.content-container {
  display: flex;
  flex-direction: column;
  padding: 100px 30px 0;
  margin: 0 auto;
  transition: all 1s ease;
  text-align: center;
  min-height: 100vh;
}
.page-not-found {
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
h2 {
  color: #282828;
}

.has-scroll {
  &::-webkit-scrollbar {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    width: 4px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 4px;
    background: #94aa42;
  }
}