.title-wrapper {
  max-width: 55%;
  margin: 0 auto;
  padding: 10px 15px;
}
h1 {
  text-transform: uppercase;
}
.meals-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-evenly;
  transition: all 1s ease;
}
.go-to-singup {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
