.presentational-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 25px 0;

  .ingredients {
    flex-basis: 100%;
    padding: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.meal-photo {
  .dish-photography {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    border: 5px inset #94aa42;
  }
}

.meal-title {
  color: inherit;
}

.meal-item {
  text-align: center;
  font-weight: bold;
  color: inherit;
  img {
    display: block;
    margin: 10px auto;
    max-width: 80px;
  }
  span {
    font-size: 0.9em;
  }
}

.instructions {
  font-weight: bold;
  color: inherit;
  padding: 24px 34px;
  line-height: 1.5rem;
}
.container-for-video {
  margin-top: 55px;
}
